@font-face {
  font-family: 'icons-Santander';
  src:  url('cxm_iconsSantander.eot.css');
  src:  url('cxm_iconsSantander.eot.css') format('embedded-opentype'),
    url('cxm_iconsSantander.ttf.css') format('truetype'),
    url('cxm_iconsSantander.woff.css') format('woff'),
    url('cxm_iconsSantander.svg.css#icons-Santander') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="isan-"], [class*=" isan-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-Santander' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.isan-SYS001:before {
  content: "\eb20";
}
.isan-SYS002:before {
  content: "\eb21";
}
.isan-SYS003:before {
  content: "\eb22";
}
.isan-SYS004:before {
  content: "\eb23";
}
.isan-SYS005:before {
  content: "\eb24";
}
.isan-SYS006:before {
  content: "\eb25";
}
.isan-SYS007:before {
  content: "\eb26";
}
.isan-SYS008:before {
  content: "\eb27";
}
.isan-SYS009:before {
  content: "\eb28";
}
.isan-SYS010:before {
  content: "\eb29";
}
.isan-SYS011:before {
  content: "\eb2a";
}
.isan-SYS012:before {
  content: "\eb2b";
}
.isan-SYS014:before {
  content: "\eb2c";
}
.isan-SYS015:before {
  content: "\eb2d";
}
.isan-SYS016:before {
  content: "\eb2e";
}
.isan-SYS017:before {
  content: "\eb2f";
}
.isan-SYS018:before {
  content: "\eb30";
}
.isan-SYS019:before {
  content: "\eb31";
}
.isan-SYS020:before {
  content: "\eb32";
}
.isan-SYS021:before {
  content: "\eb33";
}
.isan-SYS022:before {
  content: "\eb34";
}
.isan-SYS023:before {
  content: "\eb35";
}
.isan-SYS024:before {
  content: "\eb36";
}
.isan-SYS025:before {
  content: "\eb37";
}
.isan-SYS026:before {
  content: "\eb38";
}
.isan-SYS027:before {
  content: "\eb39";
}
.isan-SYS028:before {
  content: "\eb3a";
}
.isan-SYS029:before {
  content: "\eb3b";
}
.isan-SYS30:before {
  content: "\eb3c";
}
.isan-SYS031:before {
  content: "\eb3d";
}
.isan-SYS032:before {
  content: "\eb3e";
}
.isan-SYS033:before {
  content: "\eb3f";
}
.isan-SYS034:before {
  content: "\eb40";
}
.isan-SYS035:before {
  content: "\eb41";
}
.isan-SPEC001:before {
  content: "\e900";
}
.isan-SERV001:before {
  content: "\ea92";
}
.isan-SERV002:before {
  content: "\ea93";
}
.isan-SERV002B:before {
  content: "\ea94";
}
.isan-SERV003:before {
  content: "\ea95";
}
.isan-SERV004:before {
  content: "\ea96";
}
.isan-SERV005:before {
  content: "\ea97";
}
.isan-SERV006:before {
  content: "\ea98";
}
.isan-SERV007:before {
  content: "\ea99";
}
.isan-SERV008:before {
  content: "\ea9a";
}
.isan-SERV009:before {
  content: "\ea9b";
}
.isan-SERV010:before {
  content: "\ea9c";
}
.isan-SERV011:before {
  content: "\ea9d";
}
.isan-SERV012:before {
  content: "\ea9e";
}
.isan-SERV013:before {
  content: "\ea9f";
}
.isan-SERV014:before {
  content: "\eaa0";
}
.isan-SERV015:before {
  content: "\eaa1";
}
.isan-SERV016:before {
  content: "\eaa2";
}
.isan-SERV017:before {
  content: "\eaa3";
}
.isan-SERV018:before {
  content: "\eaa4";
}
.isan-SERV019:before {
  content: "\eaa5";
}
.isan-SERV020:before {
  content: "\eaa6";
}
.isan-SERV021:before {
  content: "\eaa7";
}
.isan-SERV022:before {
  content: "\eaa8";
}
.isan-SERV023:before {
  content: "\eaa9";
}
.isan-SERV024:before {
  content: "\eaaa";
}
.isan-SERV025:before {
  content: "\eaab";
}
.isan-SERV026:before {
  content: "\eaac";
}
.isan-SERV027:before {
  content: "\eaad";
}
.isan-SERV028:before {
  content: "\eaae";
}
.isan-SERV029:before {
  content: "\eaaf";
}
.isan-SERV030:before {
  content: "\eab0";
}
.isan-SERV031:before {
  content: "\eab1";
}
.isan-SERV032:before {
  content: "\eab2";
}
.isan-SERV033:before {
  content: "\eab3";
}
.isan-SERV034:before {
  content: "\eab4";
}
.isan-SERV035:before {
  content: "\eab5";
}
.isan-SERV036:before {
  content: "\eab6";
}
.isan-SERV037:before {
  content: "\eab7";
}
.isan-SERV038:before {
  content: "\eab8";
}
.isan-SERV039:before {
  content: "\eab9";
}
.isan-SERV040:before {
  content: "\eaba";
}
.isan-SERV041:before {
  content: "\eabb";
}
.isan-SERV042:before {
  content: "\eabc";
}
.isan-SERV043:before {
  content: "\eabd";
}
.isan-SERV044:before {
  content: "\eabe";
}
.isan-SERV045:before {
  content: "\eabf";
}
.isan-SERV046:before {
  content: "\eac0";
}
.isan-SERV047:before {
  content: "\eac1";
}
.isan-SERV048:before {
  content: "\eac2";
}
.isan-SERV049:before {
  content: "\eac3";
}
.isan-SERV049B:before {
  content: "\eac4";
}
.isan-SERV050:before {
  content: "\eac5";
}
.isan-SERV051:before {
  content: "\eac6";
}
.isan-SERV052:before {
  content: "\eac7";
}
.isan-SERV053:before {
  content: "\eac8";
}
.isan-SERV054:before {
  content: "\eac9";
}
.isan-SERV055:before {
  content: "\eaca";
}
.isan-SERV056:before {
  content: "\eacb";
}
.isan-SERV057:before {
  content: "\eacc";
}
.isan-SERV058:before {
  content: "\eacd";
}
.isan-SERV059:before {
  content: "\eace";
}
.isan-SERV060:before {
  content: "\eacf";
}
.isan-SERV061:before {
  content: "\ead0";
}
.isan-SERV062:before {
  content: "\ead1";
}
.isan-SERV063:before {
  content: "\ead2";
}
.isan-SERV064:before {
  content: "\ead3";
}
.isan-SERV065:before {
  content: "\ead4";
}
.isan-SERV066:before {
  content: "\ead5";
}
.isan-SERV067:before {
  content: "\ead6";
}
.isan-SERV068:before {
  content: "\ead7";
}
.isan-SERV069:before {
  content: "\ead8";
}
.isan-SERV070:before {
  content: "\ead9";
}
.isan-SERV071:before {
  content: "\eada";
}
.isan-SERV072:before {
  content: "\eadb";
}
.isan-SERV073:before {
  content: "\eadc";
}
.isan-SERV074:before {
  content: "\eadd";
}
.isan-SERV075:before {
  content: "\eade";
}
.isan-SERV076:before {
  content: "\eadf";
}
.isan-SERV077:before {
  content: "\eae0";
}
.isan-SERV078:before {
  content: "\eae1";
}
.isan-SERV079:before {
  content: "\eae2";
}
.isan-SERV080:before {
  content: "\eae3";
}
.isan-SERV081:before {
  content: "\eae4";
}
.isan-SERV082:before {
  content: "\eae5";
}
.isan-SERV083:before {
  content: "\eae6";
}
.isan-SERV084:before {
  content: "\eae7";
}
.isan-SERV085:before {
  content: "\eae8";
}
.isan-SERV086:before {
  content: "\eae9";
}
.isan-SERV087:before {
  content: "\eaea";
}
.isan-SERV088:before {
  content: "\eaeb";
}
.isan-SERV089:before {
  content: "\eaec";
}
.isan-SERV090:before {
  content: "\eaed";
}
.isan-SERV091:before {
  content: "\eaee";
}
.isan-SERV092:before {
  content: "\eaef";
}
.isan-SERV093:before {
  content: "\eaf0";
}
.isan-SERV094:before {
  content: "\eaf1";
}
.isan-SERV095:before {
  content: "\eaf2";
}
.isan-SERV096:before {
  content: "\eaf3";
}
.isan-SERV097:before {
  content: "\eaf4";
}
.isan-SERV098:before {
  content: "\eaf5";
}
.isan-SERV099:before {
  content: "\eaf6";
}
.isan-SERV100:before {
  content: "\eaf7";
}
.isan-SERV100B:before {
  content: "\eaf8";
}
.isan-SERV101:before {
  content: "\eaf9";
}
.isan-SERV101B:before {
  content: "\eafa";
}
.isan-SERV102:before {
  content: "\eafb";
}
.isan-SERV103:before {
  content: "\eafc";
}
.isan-SERV104:before {
  content: "\eafd";
}
.isan-SERV105:before {
  content: "\eafe";
}
.isan-SERV106:before {
  content: "\eaff";
}
.isan-SERV107:before {
  content: "\eb00";
}
.isan-SERV108:before {
  content: "\eb01";
}
.isan-SERV109:before {
  content: "\eb02";
}
.isan-SERV110:before {
  content: "\eb03";
}
.isan-SERV111:before {
  content: "\eb04";
}
.isan-SERV112:before {
  content: "\eb05";
}
.isan-SERV113:before {
  content: "\eb06";
}
.isan-SERV114:before {
  content: "\eb07";
}
.isan-SERV115:before {
  content: "\eb08";
}
.isan-SERV116:before {
  content: "\eb09";
}
.isan-SERV117:before {
  content: "\eb0a";
}
.isan-SERV118:before {
  content: "\eb0b";
}
.isan-SERV119:before {
  content: "\eb0c";
}
.isan-SERV120:before {
  content: "\eb0d";
}
.isan-SERV121:before {
  content: "\eb0e";
}
.isan-SERV122:before {
  content: "\eb0f";
}
.isan-SERV123:before {
  content: "\eb10";
}
.isan-SERV124:before {
  content: "\eb11";
}
.isan-SERV125:before {
  content: "\eb12";
}
.isan-SERV126:before {
  content: "\eb13";
}
.isan-SERV127:before {
  content: "\eb14";
}
.isan-SERV128:before {
  content: "\eb15";
}
.isan-SERV129:before {
  content: "\eb16";
}
.isan-SERV130:before {
  content: "\eb17";
}
.isan-SERV131:before {
  content: "\eb18";
}
.isan-SERV132:before {
  content: "\eb19";
}
.isan-SERV133:before {
  content: "\eb1a";
}
.isan-SERV134:before {
  content: "\eb1b";
}
.isan-SERV135:before {
  content: "\eb1c";
}
.isan-SERV136:before {
  content: "\eb1d";
}
.isan-SERV137:before {
  content: "\eb1e";
}
.isan-FUNC001:before {
  content: "\e9fb";
}
.isan-FUNC002:before {
  content: "\e9fc";
}
.isan-FUNC002B:before {
  content: "\e9fd";
}
.isan-FUNC002C:before {
  content: "\e9fe";
}
.isan-FUNC003:before {
  content: "\e9ff";
}
.isan-FUNC004:before {
  content: "\ea00";
}
.isan-FUNC005:before {
  content: "\ea01";
}
.isan-FUNC006:before {
  content: "\ea02";
}
.isan-FUNC007:before {
  content: "\ea03";
}
.isan-FUNC008:before {
  content: "\ea04";
}
.isan-FUNC009:before {
  content: "\ea05";
}
.isan-FUNC010:before {
  content: "\ea06";
}
.isan-FUNC011:before {
  content: "\ea07";
}
.isan-FUNC013:before {
  content: "\ea08";
}
.isan-FUNC014:before {
  content: "\ea09";
}
.isan-FUNC015:before {
  content: "\ea0a";
}
.isan-FUNC016:before {
  content: "\ea0b";
}
.isan-FUNC017:before {
  content: "\ea0c";
}
.isan-FUNC018:before {
  content: "\ea0d";
}
.isan-FUNC019:before {
  content: "\ea0e";
}
.isan-FUNC019B:before {
  content: "\ea0f";
}
.isan-FUNC019C:before {
  content: "\ea10";
}
.isan-FUNC020:before {
  content: "\ea11";
}
.isan-FUNC021:before {
  content: "\ea12";
}
.isan-FUNC022:before {
  content: "\ea13";
}
.isan-FUNC023:before {
  content: "\ea14";
}
.isan-FUNC024:before {
  content: "\ea15";
}
.isan-FUNC025:before {
  content: "\ea16";
}
.isan-FUNC026:before {
  content: "\ea17";
}
.isan-FUNC027:before {
  content: "\ea18";
}
.isan-FUNC028:before {
  content: "\ea19";
}
.isan-FUNC029:before {
  content: "\ea1a";
}
.isan-FUNC030:before {
  content: "\ea1b";
}
.isan-FUNC031:before {
  content: "\ea1c";
}
.isan-FUNC032:before {
  content: "\ea1d";
}
.isan-FUNC033:before {
  content: "\ea1e";
}
.isan-FUNC034:before {
  content: "\ea1f";
}
.isan-FUNC035:before {
  content: "\ea20";
}
.isan-FUNC036:before {
  content: "\ea21";
}
.isan-FUNC037:before {
  content: "\ea22";
}
.isan-FUNC038:before {
  content: "\ea23";
}
.isan-FUNC039:before {
  content: "\ea24";
}
.isan-FUNC040:before {
  content: "\ea25";
}
.isan-FUNC041:before {
  content: "\ea26";
}
.isan-FUNC042:before {
  content: "\ea27";
}
.isan-FUNC043:before {
  content: "\ea28";
}
.isan-FUNC044:before {
  content: "\ea29";
}
.isan-FUNC045:before {
  content: "\ea2a";
}
.isan-FUNC046:before {
  content: "\ea2b";
}
.isan-FUNC047:before {
  content: "\ea2c";
}
.isan-FUNC048:before {
  content: "\ea2d";
}
.isan-FUNC049:before {
  content: "\ea2e";
}
.isan-FUNC050:before {
  content: "\ea2f";
}
.isan-FUNC051:before {
  content: "\ea30";
}
.isan-FUNC052:before {
  content: "\ea31";
}
.isan-FUNC053:before {
  content: "\ea32";
}
.isan-FUNC054:before {
  content: "\ea33";
}
.isan-FUNC055:before {
  content: "\ea34";
}
.isan-FUNC056:before {
  content: "\ea35";
}
.isan-FUNC057:before {
  content: "\ea36";
}
.isan-FUNC058:before {
  content: "\ea37";
}
.isan-FUNC059:before {
  content: "\ea38";
}
.isan-FUNC060:before {
  content: "\ea39";
}
.isan-FUNC061:before {
  content: "\ea3a";
}
.isan-FUNC062:before {
  content: "\ea3b";
}
.isan-FUNC063:before {
  content: "\ea3c";
}
.isan-FUNC064:before {
  content: "\ea3d";
}
.isan-FUNC065:before {
  content: "\ea3e";
}
.isan-FUNC066:before {
  content: "\ea3f";
}
.isan-FUNC067:before {
  content: "\ea40";
}
.isan-FUNC068:before {
  content: "\ea41";
}
.isan-FUNC069:before {
  content: "\ea42";
}
.isan-FUNC070:before {
  content: "\ea43";
}
.isan-FUNC071:before {
  content: "\ea44";
}
.isan-FUNC072:before {
  content: "\ea45";
}
.isan-FUNC073:before {
  content: "\ea46";
}
.isan-FUNC074:before {
  content: "\ea47";
}
.isan-FUNC075:before {
  content: "\ea48";
}
.isan-FUNC076:before {
  content: "\ea49";
}
.isan-FUNC077:before {
  content: "\ea4a";
}
.isan-FUNC078:before {
  content: "\ea4b";
}
.isan-FUNC079:before {
  content: "\ea4c";
}
.isan-FUNC080:before {
  content: "\ea4d";
}
.isan-FUNC081:before {
  content: "\ea4e";
}
.isan-FUNC082:before {
  content: "\ea4f";
}
.isan-FUNC083:before {
  content: "\ea50";
}
.isan-FUNC084:before {
  content: "\ea51";
}
.isan-FUNC085:before {
  content: "\ea52";
}
.isan-FUNC086:before {
  content: "\ea53";
}
.isan-FUNC087:before {
  content: "\ea54";
}
.isan-FUNC087B:before {
  content: "\ea55";
}
.isan-FUNC088:before {
  content: "\ea56";
}
.isan-FUNC089:before {
  content: "\ea57";
}
.isan-FUNC090:before {
  content: "\ea58";
}
.isan-FUNC091:before {
  content: "\ea59";
}
.isan-FUNC092:before {
  content: "\ea5a";
}
.isan-FUNC093:before {
  content: "\ea5b";
}
.isan-FUNC094:before {
  content: "\ea5c";
}
.isan-FUNC095:before {
  content: "\ea5d";
}
.isan-FUNC096:before {
  content: "\ea5e";
}
.isan-FUNC097:before {
  content: "\ea5f";
}
.isan-FUNC098:before {
  content: "\ea60";
}
.isan-FUNC099:before {
  content: "\ea61";
}
.isan-FUNC100:before {
  content: "\ea62";
}
.isan-FUNC101:before {
  content: "\ea63";
}
.isan-FUNC102:before {
  content: "\ea64";
}
.isan-FUNC103:before {
  content: "\ea65";
}
.isan-FUNC104:before {
  content: "\ea66";
}
.isan-FUNC105:before {
  content: "\ea67";
}
.isan-FUNC106:before {
  content: "\ea68";
}
.isan-FUNC107:before {
  content: "\ea69";
}
.isan-FUNC108:before {
  content: "\ea6a";
}
.isan-FUNC109:before {
  content: "\ea6b";
}
.isan-FUNC110:before {
  content: "\ea6c";
}
.isan-FUNC111:before {
  content: "\ea6d";
}
.isan-FUNC112:before {
  content: "\ea6e";
}
.isan-FUNC113:before {
  content: "\ea6f";
}
.isan-FUNC114:before {
  content: "\ea70";
}
.isan-FUNC115:before {
  content: "\ea71";
}
.isan-FUNC115B:before {
  content: "\ea72";
}
.isan-FUNC115C:before {
  content: "\ea73";
}
.isan-FUNC116:before {
  content: "\ea74";
}
.isan-FUNC118:before {
  content: "\ea75";
}
.isan-FUNC119:before {
  content: "\ea76";
}
.isan-FUNC120:before {
  content: "\ea77";
}
.isan-FUNC121:before {
  content: "\ea78";
}
.isan-FUNC122:before {
  content: "\ea79";
}
.isan-FUNC122B:before {
  content: "\ea7a";
}
.isan-FUNC123:before {
  content: "\ea7b";
}
.isan-FUNC124:before {
  content: "\ea7c";
}
.isan-FUNC125:before {
  content: "\ea7d";
}
.isan-FUNC126:before {
  content: "\ea7e";
}
.isan-FUNC127:before {
  content: "\ea7f";
}
.isan-FUNC128:before {
  content: "\ea80";
}
.isan-FUNC129:before {
  content: "\ea81";
}
.isan-FUNC130:before {
  content: "\ea82";
}
.isan-FUNC131:before {
  content: "\ea83";
}
.isan-FUNC132:before {
  content: "\ea84";
}
.isan-FUNC133:before {
  content: "\ea85";
}
.isan-FUNC134:before {
  content: "\ea86";
}
.isan-FUNC135:before {
  content: "\ea87";
}
.isan-FUNC136:before {
  content: "\ea88";
}
.isan-FUNC137:before {
  content: "\ea89";
}
.isan-FUNC138:before {
  content: "\ea8a";
}
.isan-FUNC139:before {
  content: "\ea8b";
}
.isan-FUNC140:before {
  content: "\ea8c";
}
.isan-FUNC141:before {
  content: "\ea8d";
}
.isan-FUNC142:before {
  content: "\ea8e";
}
.isan-FUNC143:before {
  content: "\ea8f";
}
.isan-FUNC144:before {
  content: "\ea90";
}
.isan-FUNC145:before {
  content: "\ea91";
}
.isan-DOC001:before {
  content: "\e9d4";
}
.isan-DOC002:before {
  content: "\e9d5";
}
.isan-DOC003:before {
  content: "\e9d6";
}
.isan-DOC04:before {
  content: "\e9d7";
}
.isan-DOC005:before {
  content: "\e9d8";
}
.isan-DOC005B:before {
  content: "\e9d9";
}
.isan-DOC005C:before {
  content: "\e9da";
}
.isan-DOC006:before {
  content: "\e9db";
}
.isan-DOC006B:before {
  content: "\e9dc";
}
.isan-DOC006C:before {
  content: "\e9dd";
}
.isan-DOC007:before {
  content: "\e9de";
}
.isan-DOC008:before {
  content: "\e9df";
}
.isan-DOC008B:before {
  content: "\e9e0";
}
.isan-DOC008C:before {
  content: "\e9e1";
}
.isan-DOC009:before {
  content: "\e9e2";
}
.isan-DOC010:before {
  content: "\e9e3";
}
.isan-DOC010B:before {
  content: "\e9e4";
}
.isan-DOC010C:before {
  content: "\e9e5";
}
.isan-DOC011:before {
  content: "\e9e6";
}
.isan-DOC011B:before {
  content: "\e9e7";
}
.isan-DOC011C:before {
  content: "\e9e8";
}
.isan-DOC012:before {
  content: "\e9e9";
}
.isan-DOC013:before {
  content: "\e9ea";
}
.isan-DOC013B:before {
  content: "\e9eb";
}
.isan-DOC013C:before {
  content: "\e9ec";
}
.isan-DOC014:before {
  content: "\e9ed";
}
.isan-DOC015:before {
  content: "\e9ee";
}
.isan-DOC016:before {
  content: "\e9ef";
}
.isan-DOC017:before {
  content: "\e9f0";
}
.isan-DOC018:before {
  content: "\e9f1";
}
.isan-DOC019:before {
  content: "\e9f2";
}
.isan-DOC020:before {
  content: "\e9f3";
}
.isan-DOC021:before {
  content: "\e9f4";
}
.isan-DOC022:before {
  content: "\e9f5";
}
.isan-DOC023:before {
  content: "\e9f6";
}
.isan-DOC024:before {
  content: "\e9f7";
}
.isan-DOC025:before {
  content: "\e9f8";
}
.isan-DOC026:before {
  content: "\e9f9";
}
.isan-DOC027:before {
  content: "\e9fa";
}
.isan-CHAN001:before {
  content: "\e901";
}
.isan-CHAN002:before {
  content: "\e902";
}
.isan-CHAN002B:before {
  content: "\e903";
}
.isan-CHAN002C:before {
  content: "\e904";
}
.isan-CHAN003:before {
  content: "\e905";
}
.isan-CHAN004:before {
  content: "\e906";
}
.isan-CHAN005:before {
  content: "\e907";
}
.isan-CHAN005B:before {
  content: "\e908";
}
.isan-CHAN005C:before {
  content: "\e909";
}
.isan-CHAN006:before {
  content: "\e90a";
}
.isan-CHAN007:before {
  content: "\e90b";
}
.isan-CHAN008:before {
  content: "\e90c";
}
.isan-CHAN010:before {
  content: "\e90d";
}
.isan-CHAN011:before {
  content: "\e90e";
}
.isan-CHAN012:before {
  content: "\e90f";
}
.isan-CHAN013:before {
  content: "\e910";
}
.isan-CHAN014:before {
  content: "\e911";
}
.isan-CHAN015:before {
  content: "\e912";
}
.isan-CHAN016:before {
  content: "\e913";
}
.isan-CHAN017:before {
  content: "\e914";
}
.isan-CHAN018:before {
  content: "\e915";
}
.isan-CHAN019:before {
  content: "\e916";
}
.isan-CHAN020:before {
  content: "\e917";
}
.isan-CHAN022:before {
  content: "\e918";
}
.isan-CHAN023:before {
  content: "\e919";
}
.isan-CHAN024:before {
  content: "\e91a";
}
.isan-CHAN025:before {
  content: "\e91b";
}
.isan-CHAN026:before {
  content: "\e91c";
}
.isan-CHAN027:before {
  content: "\e91d";
}
.isan-CHAN028:before {
  content: "\e91e";
}
.isan-CHAN029:before {
  content: "\e91f";
}
.isan-CHAN030:before {
  content: "\e920";
}
.isan-CHAN031:before {
  content: "\e921";
}
.isan-CHAN032:before {
  content: "\e922";
}
.isan-CHAN033:before {
  content: "\e923";
}
.isan-CHAN034:before {
  content: "\e924";
}
.isan-CHAN035:before {
  content: "\e925";
}
.isan-CHAN036:before {
  content: "\e926";
}
.isan-CHAN037:before {
  content: "\e927";
}
.isan-CHAN038:before {
  content: "\e928";
}
.isan-CHAN040:before {
  content: "\e929";
}
.isan-CHAN041:before {
  content: "\e92a";
}
.isan-CHAN042:before {
  content: "\e92b";
}
.isan-CHAN043:before {
  content: "\e92c";
}
.isan-CHAN044:before {
  content: "\e92d";
}
.isan-CHAN045:before {
  content: "\e92e";
}
.isan-CHAN046:before {
  content: "\e92f";
}
.isan-CHAN047:before {
  content: "\e930";
}
.isan-CHAN048:before {
  content: "\e931";
}
.isan-CHAN049:before {
  content: "\e932";
}
.isan-CHAN050:before {
  content: "\e933";
}
.isan-CHAN051:before {
  content: "\e934";
}
.isan-CHAN052:before {
  content: "\e935";
}
.isan-CHAN053:before {
  content: "\e936";
}
.isan-CHAN055:before {
  content: "\e937";
}
.isan-CHAN056:before {
  content: "\e938";
}
.isan-CHAN057:before {
  content: "\e939";
}
.isan-CHAN058:before {
  content: "\e93a";
}
.isan-CHAN059:before {
  content: "\e93b";
}
.isan-CHAN060:before {
  content: "\e93c";
}
.isan-CHAN061:before {
  content: "\e93d";
}
.isan-CHAN062:before {
  content: "\e93e";
}
.isan-CHAN063:before {
  content: "\e93f";
}
.isan-CHAN064:before {
  content: "\e940";
}
.isan-CHAN065:before {
  content: "\e941";
}
.isan-CHAN066:before {
  content: "\e942";
}
.isan-CHAN067:before {
  content: "\e943";
}
.isan-CHAN068:before {
  content: "\e944";
}
.isan-CHAN069:before {
  content: "\e945";
}
.isan-BAN001:before {
  content: "\e946";
}
.isan-BAN001B:before {
  content: "\e947";
}
.isan-BAN001C:before {
  content: "\e948";
}
.isan-BAN002:before {
  content: "\e949";
}
.isan-BAN002B:before {
  content: "\e94a";
}
.isan-BAN002C:before {
  content: "\e94b";
}
.isan-BAN003:before {
  content: "\e94c";
}
.isan-BAN004:before {
  content: "\e94d";
}
.isan-BAN004B:before {
  content: "\e94e";
}
.isan-BAN004C:before {
  content: "\e94f";
}
.isan-BAN005:before {
  content: "\e950";
}
.isan-BAN006:before {
  content: "\e951";
}
.isan-BAN007:before {
  content: "\e952";
}
.isan-BAN008:before {
  content: "\e953";
}
.isan-BAN008B:before {
  content: "\e954";
}
.isan-BAN008C:before {
  content: "\e955";
}
.isan-BAN009:before {
  content: "\e956";
}
.isan-BAN010:before {
  content: "\e957";
}
.isan-BAN010B:before {
  content: "\e958";
}
.isan-BAN011:before {
  content: "\e959";
}
.isan-BAN011B:before {
  content: "\e95a";
}
.isan-BAN012:before {
  content: "\e95b";
}
.isan-BAN013:before {
  content: "\e95c";
}
.isan-BAN014:before {
  content: "\e95d";
}
.isan-BAN015:before {
  content: "\e95e";
}
.isan-BAN016:before {
  content: "\e95f";
}
.isan-BAN017:before {
  content: "\e960";
}
.isan-BAN018:before {
  content: "\e961";
}
.isan-BAN019:before {
  content: "\e962";
}
.isan-BAN020:before {
  content: "\e963";
}
.isan-BAN021:before {
  content: "\e964";
}
.isan-BAN023:before {
  content: "\e965";
}
.isan-BAN024:before {
  content: "\e966";
}
.isan-BAN024B:before {
  content: "\e967";
}
.isan-BAN024C:before {
  content: "\e968";
}
.isan-BAN025:before {
  content: "\e969";
}
.isan-BAN026:before {
  content: "\e96a";
}
.isan-BAN027:before {
  content: "\e96b";
}
.isan-BAN028:before {
  content: "\e96c";
}
.isan-BAN029:before {
  content: "\e96d";
}
.isan-BAN030:before {
  content: "\e96e";
}
.isan-BAN034:before {
  content: "\e96f";
}
.isan-BAN035:before {
  content: "\e970";
}
.isan-BAN036:before {
  content: "\e971";
}
.isan-BAN037:before {
  content: "\e972";
}
.isan-BAN038:before {
  content: "\e973";
}
.isan-BAN039:before {
  content: "\e974";
}
.isan-BAN040:before {
  content: "\e975";
}
.isan-BAN041:before {
  content: "\e976";
}
.isan-BAN042:before {
  content: "\e977";
}
.isan-BAN042B:before {
  content: "\e978";
}
.isan-BAN042C:before {
  content: "\e979";
}
.isan-BAN043:before {
  content: "\e97a";
}
.isan-BAN044:before {
  content: "\e97b";
}
.isan-BAN045:before {
  content: "\e97c";
}
.isan-BAN045B:before {
  content: "\e97d";
}
.isan-BAN045C:before {
  content: "\e97e";
}
.isan-BAN046:before {
  content: "\e97f";
}
.isan-BAN046B:before {
  content: "\e980";
}
.isan-BAN046C:before {
  content: "\e981";
}
.isan-BAN047:before {
  content: "\e982";
}
.isan-BAN047B:before {
  content: "\e983";
}
.isan-BAN047C:before {
  content: "\e984";
}
.isan-BAN048:before {
  content: "\e985";
}
.isan-BAN048B:before {
  content: "\e986";
}
.isan-BAN048C:before {
  content: "\e987";
}
.isan-BAN049:before {
  content: "\e988";
}
.isan-BAN050:before {
  content: "\e989";
}
.isan-BAN051:before {
  content: "\e98a";
}
.isan-BAN052:before {
  content: "\e98b";
}
.isan-BAN053:before {
  content: "\e98c";
}
.isan-BAN053B:before {
  content: "\e98d";
}
.isan-BAN053C:before {
  content: "\e98e";
}
.isan-BAN054:before {
  content: "\e98f";
}
.isan-BAN054B:before {
  content: "\e990";
}
.isan-BAN054C:before {
  content: "\e991";
}
.isan-BAN055:before {
  content: "\e992";
}
.isan-BAN055B:before {
  content: "\e993";
}
.isan-BAN055C:before {
  content: "\e994";
}
.isan-BAN056:before {
  content: "\e995";
}
.isan-BAN057:before {
  content: "\e996";
}
.isan-BAN057B:before {
  content: "\e997";
}
.isan-BAN058:before {
  content: "\e998";
}
.isan-BAN059:before {
  content: "\e999";
}
.isan-BAN060:before {
  content: "\e99a";
}
.isan-BAN060B:before {
  content: "\e99b";
}
.isan-BAN060C:before {
  content: "\e99c";
}
.isan-BAN061:before {
  content: "\e99d";
}
.isan-BAN062:before {
  content: "\e99e";
}
.isan-BAN062B:before {
  content: "\e99f";
}
.isan-BAN062C:before {
  content: "\e9a0";
}
.isan-BAN063:before {
  content: "\e9a1";
}
.isan-BAN064:before {
  content: "\e9a2";
}
.isan-BAN065:before {
  content: "\e9a3";
}
.isan-BAN066:before {
  content: "\e9a4";
}
.isan-BAN066B:before {
  content: "\e9a5";
}
.isan-BAN066C:before {
  content: "\e9a6";
}
.isan-BAN067:before {
  content: "\e9a7";
}
.isan-BAN068:before {
  content: "\e9a8";
}
.isan-BAN069:before {
  content: "\e9a9";
}
.isan-BAN070:before {
  content: "\e9aa";
}
.isan-BAN071:before {
  content: "\e9ab";
}
.isan-BAN072:before {
  content: "\e9ac";
}
.isan-BAN073:before {
  content: "\e9ad";
}
.isan-BAN074:before {
  content: "\e9ae";
}
.isan-BAN075:before {
  content: "\e9af";
}
.isan-BAN075B:before {
  content: "\e9b0";
}
.isan-BAN076:before {
  content: "\e9b1";
}
.isan-BAN076B:before {
  content: "\e9b2";
}
.isan-BAN076C:before {
  content: "\e9b3";
}
.isan-BAN077:before {
  content: "\e9b4";
}
.isan-BAN078:before {
  content: "\e9b5";
}
.isan-BAN079:before {
  content: "\e9b6";
}
.isan-BAN080:before {
  content: "\e9b7";
}
.isan-BAN081:before {
  content: "\e9b8";
}
.isan-BAN082:before {
  content: "\e9b9";
}
.isan-BAN083:before {
  content: "\e9ba";
}
.isan-BAN084:before {
  content: "\e9bb";
}
.isan-BAN084B:before {
  content: "\e9bc";
}
.isan-BAN084C:before {
  content: "\e9bd";
}
.isan-BAN085:before {
  content: "\e9be";
}
.isan-BAN086:before {
  content: "\e9bf";
}
.isan-BAN087:before {
  content: "\e9c0";
}
.isan-BAN088:before {
  content: "\e9c1";
}
.isan-BAN089:before {
  content: "\e9c2";
}
.isan-BAN090:before {
  content: "\e9c3";
}
.isan-BAN092:before {
  content: "\e9c4";
}
.isan-BAN093:before {
  content: "\e9c5";
}
.isan-BAN094:before {
  content: "\e9c6";
}
.isan-BAN095:before {
  content: "\e9c7";
}
.isan-BAN096:before {
  content: "\e9c8";
}
.isan-BAN097:before {
  content: "\e9c9";
}
.isan-BAN097B:before {
  content: "\e9ca";
}
.isan-BAN097C:before {
  content: "\e9cb";
}
.isan-BAN098:before {
  content: "\e9cc";
}
.isan-BAN099:before {
  content: "\e9cd";
}
.isan-BAN100:before {
  content: "\e9ce";
}
.isan-BAN101:before {
  content: "\e9cf";
}
.isan-BAN102:before {
  content: "\e9d0";
}
.isan-BAN103:before {
  content: "\e9d1";
}
.isan-BAN104:before {
  content: "\e9d2";
}
.isan-BAN104B:before {
  content: "\e9d3";
}
.isan-BAN104C:before {
  content: "\eb1f";
}
